body {
  font-family: Arial;
  padding: 40px;
  background: #f2f2f2;
}

h1, h2 {
  text-align: center;
}

form, table {
  background: white;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  border-radius: 8px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}
